/* Variables */
:root {
	--colors-text-highlight:#456ebf;
	--fonts-normal-text:arial,verdana; 
}

/* Small resets */
*	{ 
  box-sizing:border-box; 
}


/* Main elements */
body	{ 
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vh;
  display: flex;
  justify-content: space-between;
}


hr {
  width: 100vh;
  margin: 2.5em 0em;
  border: 0.5px solid rgb(229, 230, 196);
  opacity: 50%;
  
}

a {
  color: aliceblue;
  opacity: 60%;
}